USE [master]
GO
/****** Object:  Database [TorneoTenis]    Script Date: 20/06/2024 15:00:39 ******/
CREATE DATABASE [TorneoTenis]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TorneoTenis', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TorneoTenis.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TorneoTenis_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TorneoTenis_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TorneoTenis].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TorneoTenis]
GO
/****** Object:  Table [dbo].[matches]    Script Date: 20/06/2024 15:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[matches](
	[player_name] [varchar](50) NOT NULL,
	[set_1] [int] NULL,
	[set_2] [int] NULL,
	[set_3] [int] NULL,
 CONSTRAINT [PK_matches] PRIMARY KEY CLUSTERED 
(
	[player_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[matches] ([player_name], [set_1], [set_2], [set_3]) VALUES (N'Daniel Wilson', 7, 4, 6)
INSERT [dbo].[matches] ([player_name], [set_1], [set_2], [set_3]) VALUES (N'Emily Thompson', 7, 7, 6)
INSERT [dbo].[matches] ([player_name], [set_1], [set_2], [set_3]) VALUES (N'John Smith', 6, 6, 7)
GO
USE [master]
GO
