USE [master]
GO
/****** Object:  Database [Menu]    Script Date: 20/06/2024 14:58:14 ******/
CREATE DATABASE [Menu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Menu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Menu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Menu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Menu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Menu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Menu]
GO
/****** Object:  Table [dbo].[menu]    Script Date: 20/06/2024 14:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu](
	[id] [int] NOT NULL,
	[name] [varchar](50) NULL,
	[price] [real] NULL,
	[category] [varchar](50) NULL,
 CONSTRAINT [PK_Tabla1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[menu] ([id], [name], [price], [category]) VALUES (1, N'Cheeseburger', 9.99, N'Burgers')
INSERT [dbo].[menu] ([id], [name], [price], [category]) VALUES (2, N'Margherita Pizza', 12.99, N'Pizza')
INSERT [dbo].[menu] ([id], [name], [price], [category]) VALUES (3, N'Caesar Salad', 8.99, N'Salads')
GO
USE [master]
GO
