USE [master]
GO
/****** Object:  Database [Profes]    Script Date: 23/06/2024 14:32:56 ******/
CREATE DATABASE [Profes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Profes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Profes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Profes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Profes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Profes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Profes]
GO
/****** Object:  Table [dbo].[teachers]    Script Date: 23/06/2024 14:32:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teachers](
	[id] [int] NOT NULL,
	[name] [varchar](50) NULL,
	[subject] [varchar](50) NULL,
 CONSTRAINT [PK_teachers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[teachers] ([id], [name], [subject]) VALUES (1, N'Mr. Johnson', N'Mathematics')
INSERT [dbo].[teachers] ([id], [name], [subject]) VALUES (2, N'Mrs. Davis', N'Science')
INSERT [dbo].[teachers] ([id], [name], [subject]) VALUES (3, N'Ms. Wilson', N'English')
GO
USE [master]
GO
